<form [formGroup]="form">
    <p>Use the form below to change your password.</p>

    <div class="fx-row">

        <div class="fx-cp">

            <mat-form-field class="full-width">
                <input [type]="hideCurrentPassword ? 'password' : 'text'" autocomplete="current-password"
                       formControlName="currentPassword"
                       matInput
                       placeholder="Current Password">
                <mat-icon (click)="hideCurrentPassword = !hideCurrentPassword" matSuffix>
                    {{ hideCurrentPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>

                @if (form.controls['currentPassword'].hasError('required')) {
                    <mat-error>
                        Please enter a your current password
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <input [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password"
                       formControlName="newPassword"
                       matInput placeholder="New Password">
                <mat-icon (click)="hideNewPassword = !hideNewPassword" matSuffix>
                    {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>

                @if (form.controls['newPassword'].hasError('required')) {
                    <mat-error>
                        Please enter a new password
                    </mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <input [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password"
                       formControlName="newPasswordConfirm"
                       matInput
                       placeholder="Confirm New Password">
                <mat-icon (click)="hideNewPassword = !hideNewPassword" matSuffix>
                    {{ hideNewPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>

                @if (form.controls['newPasswordConfirm'].hasError('required')) {
                    <mat-error>
                        Please confirm your new password
                    </mat-error>
                }
            </mat-form-field>

            <button (click)="changePassword()" [disabled]="form.invalid || disableSubmit" color="primary"
                    mat-raised-button>Save
            </button>

        </div>

    </div>

</form>
